extends ../layout
block content
	include barraAdmi
	</br></br>
	div.content-article(style='white-space:pre;')
		article
			h1 Bienvenido, ¿qué tal su día?</br></br>
			<center><h2>Recordemos un poco...</h2></center><br>
			p infoBlood consiste en un sistema embebido que permitirá cuantificar en tiempo real, los índices de la<br> función renal con el propósito de apoyar al médico en la toma de decisiones respecto a las horas<br> de hemodiálisis de cada paciente. 
