doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dx.common.css')
    link(rel='stylesheet', href='/stylesheets/dx.light.css')
    script(src='/javascripts/jquery-3.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
    link(rel='stylesheet', href='/stylesheets/Icon/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/jszip.min.js')
    script(src='/javascripts/dx.all.js')
    script(src='/javascripts/Paciente/index.js')
    script(src='/javascripts/Login/index.js')
    script(src='/javascripts/DataProvider.js')
    script(src='/javascripts/jspdf.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/moment-precise-range.js')
    link(rel='stylesheet', href='/stylesheets/dx.spa.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    script(src='/javascripts/script.js')
    script(src='/javascripts/jquery.js')
    main
        block content
   
