doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/jquery-3.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/dx.light.css')
    link(rel='stylesheet', href='/stylesheets/dx.spa.css')
    link(rel='stylesheet', href='/stylesheets/dx.common.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/indexL.js')
    script(src='/javascripts/DataProvider.js')
    script(src='/javascripts/dx.all.js')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
  body(style="background: #FF8000; 
  background: -webkit-linear-gradient(right, #FF8000, #8DC26F);
  background: -moz-linear-gradient(right, #FF8000, #8DC26F);
  background: -o-linear-gradient(right, #FF8000, #8DC26F);
  background: linear-gradient(to left, #FF8000, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;")(ng-app="RegistroApp", ng-controller="RegistroController")
   block CONTENIDO