block barraPatient
  header
      label.lnr.lnr-menu.show-menu
   div.content-menu
      div.content-item
                  li: span.lnr.lnr-home: h4.txt1: a(href="/Patient")(style="color:#000000;") Inicio
                  li: span.lnr.lnr-license: h4.txt6: a(href="/Patient/MyMedicalRecipes")(style="color:#000000;") Mis recetas
                  li: span.lnr.lnr-database: h4.txt2: a(href="/Patient/MisDatosPersonales")(style="color:#000000;") Mis Datos
                  li: span.lnr.lnr-heart: h4.txt3: a(href="/Patient/MiAvance")(style="color:#000000;") Mi avance
                  li: span.lnr.lnr-picture: h4.txt4: a(href="#book-a")(style="color:#000000;") Historias
                  li: span.lnr.lnr-briefcase: h4.txt5: a(href="#book-a")(style="color:#000000;") Recetas
                  li: span.lnr.lnr-bubble: h4.txt7: a(href="#book-a")(style="color:#000000;") Notificaciones
                  li: span.lnr.lnr-envelope: h4.txt8: a(href="#book-a")(style="color:#000000;") Contactos
                  li: span.lnr.lnr-question-circle: h4.txt9: a(href="#book-a")(style="color:#000000;") Mensaje al médico
script(src='/javascripts/script.js')
script(src='/javascripts/jquery.js')