extends ../../layout
block content
	include ../barraEnf
	</br></br>
	script(src="/socket.io/socket.io.js")
	script(src='/javascripts/Enfermero/Hemodialisis/Hemodialisis.js')
	body.dx-viewport
		div.content-article(style='white-space:pre;')
			article
				h1 Sesiones de hemodiálisis <br><br>
				.Nurse-Container(ng-app="HemodialisisApp",ng-controller="HemodialisisController")
					.popup(dx-popup="popupPrincipal" id="altura")
						div(data-options="dxTemplate: { name:'info' }")
							div(dx-scroll-view="pruebaScrollView")
								.sf-form-container
									h3 Datos Pre-procedimiento 
									.widget-container
									a(href="#", onclick="slideFormContainer('none');"): i.lnr.lnr-cross(aria-hidden="true")
									#form(dx-form="formOptionsStart")
									<br>
									.SfButtonCreate(dx-button="SfButtonCreateH")
									.SfButtonUpdate(dx-button="SfButtonUpdateH")
								.sf-form-container1
									h2 Antropometría
									.widget-container
									a(href="#", onclick="slideFormContainer('none1');"): i.lnr.lnr-cross(aria-hidden="true")
									#form(dx-form="formOptionsAntro")
									<br>
									.SfButtonCreate1(dx-button="SfButtonCreateA")
									.SfButtonUpdate1(dx-button="SfButtonUpdateA")
								<br>
								.sf-form-container2
									h3 Medicamentos usados en sesión de hemodiálisis
									.widget-container
									a(href="#", onclick="slideFormContainer('none2');"): i.lnr.lnr-cross(aria-hidden="true")
									#form(dx-form="formOptionsMedicine")
									<br>
									.SfButtonCreate2(dx-button="SfButtonCreateM")
									.SfButtonUpdate2(dx-button="SfButtonUpdateM")
								.popup(dx-popup="popupCreatinina")
									div(data-options="dxTemplate: { name:'info' }")
										.widget-container
										#gridContainer(dx-data-grid="dataGridCreatinina")
										<br>
										table
											tr
												td
													div(dx-button="InicioCreatinina")
												td
													div(dx-button="FinCreatinina")
								.widget-container
									#gridContainer(dx-data-grid="dataGridMoreInfo")
									<br>
									h4 Verificación pre-procedimiento
									<br>
									#gridContainer(dx-data-grid="dataGridPreInfo")
									<br>
									h4 Antropometría
									<br>
									#gridContainer(dx-data-grid="dataGridAntroInfo")
									<br>
									h4 Medicinas usadas durante la sesión 
									<br>
									#gridContainer(dx-data-grid="dataGridMedicines")
								<br>
								<br>
								<br>
								<br>
								table
									tr
										td
											div(dx-button="showFormAuxDatosInicio")
										td
											div(dx-button="showFormAuxDatosAntro")
										td
											div(dx-button="showFormAuxMedicine")
										td
											div(dx-button="showFormAuxCreatinina")
										td
											div(dx-button="FinishSession")
					#gridContainer(dx-data-grid="dataGridOptions")
				
			
		