extends ../../layout
block content
	include ../barraEnf
	</br></br>
	script(src='/javascripts/Enfermero/Consulta/Consulta.js')
	body.dx-viewport
		div.content-article(style='white-space:pre;')
			article
				h1 Registro de consulta <br><br>
				.Nurse-Container(ng-app="ConsultaApp",ng-controller="ConsultaController")
					.sf-form-container
						a(href="#", onclick="slideFormContainer('none');"): i.lnr.lnr-cross(aria-hidden="true")
						.widget-container
						#form(dx-form="formOptions")
							<br><br>
						<br>
						.SfButtonCreate(dx-button="SfButtonCreate")
						.SfButtonUpdate(dx-button="SfButtonUpdate")
					div(dx-button="showFormAux")
					#gridContainer(dx-data-grid="dataGridOptions")